extends ../layout

block content
  p
    //-Check to see if user exists in Jade
    if user
      strong Username:
        | #{user.username}
      p
        strong Email:
        | #{user.email}
      p
        strong Password:
        | #{user.password}
      a(href='/users/edit/#{user.id}') Edit
      br
      a(href='javascript:window.history.back()') Back
      br
      a(href='/users') Index
      br
      a(href='/users/delete/#{user.id}') Delete
    else
      strong User does not exist